<style>
  .h1{
      color: green;
      font-family: Arial;
      background-color: #A0000F;
  } 
  h2{
      color: red;
    background-color: black;
    font-family: MV Boli;
  }
  .p{
     color: cyan;
     font-family: Lucida Console;
    background-color: #A0000F;
    }
</style>
